*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
div{
    float: left;
    margin-left: 52px;
    text-align: center;
    /* border: 4px solid #333; */
    margin-top: 20px
}
div a{
    display: block;
    font-size:20px;
    font-weight: bolder;

}