body{
  background:#fff;
}
body p{
  font-size:12px;
}
ul li{
  list-style: none;
}
//首页
.hom {
  .s-s {
    display: block;
    width: 100%;
    height: 1px;
    background: #c0c0c0;
    position: absolute;
    top: 69%;
  }
  .ss-s {
    display: block;
    width: 3px;
    height: 23px;
    background: #ff5c5c;
    position: absolute;
    top:78%;
  }
  .dingbu{
      margin-top: 12px;
      padding-bottom: 5%;
      input {
        width: 122%;
        height: 31px;
        background: transparent;
        margin-left: -22%;
        border: 1px solid #c0c0c0;
        border-radius: 20px;
        margin-top:10px;
      }
      .cd {
        position: absolute;
        top: 33%;
        left: 5%;
        font-size: 12px;
        color: #999;
        span {
          left: -5%;
        }
      }
      .che {
        width: 2.2rem;
        height: 1.95rem;
        position: absolute;
        right: 70%;
        top:10px;
      }
      a {
        position: absolute;
        right: 26%;
        font-size: 16px;
        color: #000;
        top:10px;
      }

  }

  .banner {
    width: 100%;
    margin-top: 4%;
    img {
      display: block;
      width: 100%;
    }
  }
  .nav {
    margin-top: 8%;
    img {
      width: 100%;
    }
    p {
      text-align: center;
      margin-top: 5%;
    }
    a {
      color: #000;
    }
    .dv {
      margin-bottom: 20%;
    }
    .col-xs-3 {
      width: 20%;
      padding-right: 5px;
      padding-left: 5px;
    }
    .s1 {
      color: #1da2ff;
      font-size: 12px;
      border: 1px solid #1da2ff;
      border-radius: 20px;
      background: #ffffff;
      position: absolute;
      top: -18%;
      left: 47%;
    }
    .s2 {
      color: #b49b69;
      font-size: 12px;
      border: 1px solid #b49b69;
      border-radius: 20px;
      background: #ffffff;
      position: absolute;
      top: -12%;
      left: 32%;
    }
    .s3 {
      color: #91c31e;
      font-size: 12px;
      border: 1px solid #91c31e;
      border-radius: 20px;
      background: #ffffff;
      position: absolute;
      top: -12%;
      left: 32%;
    }
  }
  .main {
    background: #ffffff;
    img {
      width: 100%;
    }
  }
  .gm {
    padding-top: 5%;
    img {
      width: 100%;
    }
    .x {
      width: 1px;
      height: 25px;
      background: #ebebeb;
      position: absolute;
      top: 78%;
      left: 23%;
    }
    .shell {
      width: 100%;
      padding: 2px 2px 2px 0;
    }
    #div1 {
      height: 25px;
      overflow: hidden;
      p {
        font-size: 12px;
        .s-ss {
          background: #ff5c5c;
          color: #ffffff;
          padding: 2px 4px;
        }
      }
    }
  }
  .time {
    h3 {
      float: left;
      padding-left: .8rem;
      font-size: 1.7rem;
      color: #333;
      line-height: 2.4rem;
      font-weight: bold;
    }
    #divdown1 {
      margin-top: 10%;
      margin-left: 31%;
      color: #ff5c5c;
      font-size: 14px;
    }
    a {
      span {
        color: #ff5c5c;
        font-size: 12px;
        margin-top: 20%;
      }
      i {
        color: #ff5c5c;
        font-size: 12px;
        margin-top: 20%;

      }
    }
  }
  .haohuo {
    img {
      width: 100%;
      height: 100%;
    }
    p:nth-of-type(1) {
      color: #000;
      text-align: center;
    }
    p:nth-of-type(2) {
      color: #bababa;
      text-align: center;
    }
  }
  .tu {
    .col-xs-6 {
      padding-right: 0;
      padding-left: 0;
    }
    img {
      width: 100%;
      height: 100%;

    }
  }
  .remen {
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    a {
      p:nth-of-type(1) {
        color: #000;
        font-size: 10px;
        text-align: center;
      }

      p:nth-of-type(2) {
        color: #999;
        font-size: 10px;
        text-align: center;
      }

    }
  }
  .zhuti {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .jinrun {
    img {
      width: 100%;
      height: 100%;
    }
    .col-xs-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .col-xs-4 {
      img {
        height: 150%;
      }
    }
  }
  .footer{
    li{
      float: left;
      padding: 5% 7% 5% 7%;
      a{
        color:#888;
        font-size:12px;
      }
    }
    p{
      color: #888;
      font-size:12px;
      text-align: center;
      line-height: 10px;

    }
    p:nth-of-type(2){
      padding-bottom:2%;
    }
  }
  .dibudaohang{
  img{
    width: 28px;
    height: 28px;
    margin-top:10px;
  }
    p{
      color: #999;
      margin:auto;
    }
   .pink{
      color: #ff0027;
    }
  }
}
//第二页
.er{
.dingbu{
  p{
    font-size: 23px;
    font-weight: 100;
    margin-top: 58%;
    color: #999999;
  }
  #search_input{
    font-size: 1.2rem;
    line-height: 2.3rem;
    border-radius: 20px;
    border:1px solid #999999;
    width: 100%;
    margin-top:10%;
  }
  span{
    position: relative;
    top: -23px;
    left: 85%;
    font-size: 12px;
    color: #999;
  }
  .navbar-default{
    background: #ffffff;
    opacity: 0.95;
  }
  .dropdown{
    .btn-default{
      border-color: #ffffff;
      color: #626262;
      background-color: #fff;
      margin-top: 21%;
      font-weight: bold
    }
    ul{
      position: absolute;
      margin-left:-132%;
    }
  }
}
  .nav{
    margin-top:20%;
    .a{
      color: #333;
      font-size:14px;
      display: block;
      background: #f0f0f0;
      padding:20px 15px;
      border:1px solid #e8e8e8;

    }
    .a:nth-of-type(1){
      color: #ff5c5c;
      background: #ffffff;
      padding-left:15px;
      border-left:2px solid #ff5c5c;
    }
    .col-xs-4{
      padding-left:0;
      padding-right:0;
    }
  }
  .banner{
    margin-top:10px;
    a{
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .banner{
    .zi{
      color: #b8b7b7;
      font-size: 14px;
      margin-left:-18px;
    }
    .bg{
      background: #f8f8f8;
      a{
        padding:5%;
        img{
          width: 100%;
         display: block;
          padding:5px;
        }
        .nam{
          height: 3.4rem;
          line-height: 3.4rem;
          text-align: center;
          font-size: 1.1rem;
          color: #999
        }
      }
    }
    img{
      width: 100%;
    }
  }

}
//第三屏
.three{
  .header{
    input{
      width: 100%;
      border-radius: 2.2rem;
      height: 3.3rem;
      line-height: 3.3rem;
      background: #f6f6f6;
      border: 1px solid #f6f6f6;
      margin-left:2%;
      margin-top:10px;
    }
    .glyphicon-menu-left{
      font-size:20px;
      color: #666;
      margin-top:14px;
    }
    .glyphicon-search{
      color: #666666;
      font-size: 12px;
      position: relative;
      top: -29px;
      left: 88%;
    }
    .btn-default {
      border-color: #fff;
      color: #626262;
      background-color: #fff;
      margin-top: 21%;
      font-weight: 700;
    }
    .btn-default:hover {
      color: #333;
      background-color: #fff;
      border-color: #fff;

    }
    .btn{
      padding: 12px 0;
      margin-left:-10px;
      font-weight:bold;
      border:0;
       padding-left: 10px;
     padding-right: 2px;


    }

    .ul1{
      position: absolute;
      margin-left:-364%;
    }
  }
  .nav-1{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    .btn{
      margin-top: 5px;
      width: 134%;
      margin-left:-10px;
      border:0;

    }
    .btn-default:hover {
       color: #333;
      background-color: #fff;
       border-color: #adadad;
    }
    .btn-group{
       margin-left:48%;
      p:nth-of-type(1){
      color: #ff5c5c;
    }
      p{
      font-size:14px;
        color: #000;
    .glyphicon-triangle-top{
     color: #ff5c5c;
    }

    }
      .glyphicon-menu-down{
       position: absolute;
       top:16px;
        font-size:12px;
        font-weight:100;
        color: #666666;
     }
      .glyphicon-menu-up{
        font-size:12px;
        font-weight:100;
        color:#666;
        position: absolute;
        top:7px;
      }

     }

  }
 .nav-2{
    margin-top:10px;
   a{
     display: block;
     background: #f6f6f6;
     padding:6%;
     font-size:14px;
     color: #999;
     text-align: center;
   }
  }
  .banner{
    margin-top:5px;
    img{
      width: 100%;}
    .dd{
      .top{
        margin: .3rem 1rem .7rem 0;
        height: 3.6rem;
        line-height: 1.8rem;
        font-size: 1.3rem;
        font-weight: 500;
        word-break: break-all;
        white-space: normal;
        word-wrap: break-word;
        .zy{
          img{
            vertical-align: -.12rem;
            width: 2.2rem;
          }
        .zi{
          font-size:12px;
        }
        }
      }
      .yhtz{
        width: 24%;
        font-size: 1rem;
        background: #ffe3e3;
        color: #ff5c5c;
        margin-top: -5px;
      }
     h4{
       font-size: 1.6rem;
       color: #ff5c5c;
       font-weight: bold;
       margin-top:-5px;
       float: left;
      }
      .pl{
        font-size:10px;
        color: #999;
        display: block;
        margin-top:-5px;
        float: right;
      }
    }
   .dd::before{
     content: '';
     display: block;
     clear: both;
    }
    .ggg{
      width:50px;
      height: 50px;
      border-radius:50%;
      border:1px solid #dfdfdf;
      position: absolute;
      top:307px;
      right:0;
    }
    a .dingbu{
      width:50px;
      height: 50px;
      border-radius:50%;
      border:1px solid #dfdfdf;
      position: absolute;
      top:85%;
      right:0;
    }
  }

}
//第四页
.four{
  .navbar{
    
    .btn-default {
      background-color: #f8f8f8;
      border-color: #8c8c8c;
    }
    .btn-default:hover {
       color: #000;
       background-color: #f8f8f8;
       border-color: #8c8c8c;
     }
    .btn{
      padding: 12px 0;
      margin-left:-10px;
      font-weight:bold;
      border:0;
      padding-left:10px;
      padding-right:2px;
    }
    .glyphicon-menu-left{
      font-size: 20px;
      color: #666;
      margin-top: 14px;
    }
    .ul1{
      position: absolute;
      top: 140%;
      left: -128%;
      background: #fff;
      opacity: 0.95;
    }

    .ul2{
      margin-left:-28px;
      li{
        float: left;
        padding:10px;
      }

    }


}
  .main{
    .banner {
      margin-top: 44px;

      .img {
        width: 100%;
      }
      .s1 {
        display: inline-block;
        background: url(../img/ziying_red.85ca5b2913.png) no-repeat;
        background-size: contain;
        width: 2.2rem;
        height: 1.2rem;
      }
      h1 {
        display: inline;
        word-break: break-all;
        font-size: 16px;
      }
      .i1 {
        background: url(../img/fenxiang.png) no-repeat;
        background-size: 1.8rem 1.8rem;
        width: 1.8rem;
        height: 1.8rem;
        display: inline-block;
        margin-top: -6px;
      }
      .xian {
        width: 1px;
        height: 38px;
        background: #e6e6e6;
        display: inline-block;
        position: absolute;
        left: 0%;

      }
      .p1 {
        color: #ff5c5c;
      }
      h2 {
        color: #ff5c5c;
        font-weight: bold;
        margin-top: -7px;

      }
      .dv {
        width: 100%;
        height: 14px;
        background: #f2f2f2;
      }
      .s3 {
        margin-right: 1rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: #a2a4a6
      }.s5 {
         color: #a2a4a6;
         margin-left: 39px;
       }
      .s6 {
        color: #a2a4a6;
        margin-top: -3px;
      }
      .dv1{
        margin-top: 8px;
        .ss{
          color: #a2a4a6;


        }
        .ss2{
          font-size:12px;
          img{
            width: 10px;
            height: 10px;
          }
        }
        .ss3{
          color: #ff5c5c;

        }
      }
      .ul3{
        position: relative;
        left: -44px;
        top: 4px;
        color: #666;
        font-size: 5px;
        padding-bottom:17px;
        li{
          float: left;
          font-size:12px;
        }
         .li1 img{
           width:10px;
           height: 10px;
          }
      }
      .s5{
        margin-right: 1rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: #a2a4a6;
        padding-top:10px;
        margin-left:0;
      }
      .p5{
        padding-top:10px ;
        display: inline-block;

      }
      .dv3{
        background: #f8f8f8;
        margin-top:10px;
        padding-bottom:10px;
        .img3 {
          width: 100%;
          height: 100%;
          margin-top: 5px;
        }
        .img4{
          width: 100%;
          position: relative;
          top:-25px;
        }
        .p-1{
          font-size:1.5rem;
          margin-top: 1.5rem;
        }
        .score_star {
          display: inline-block;
          vertical-align: middle;
          width: 5.8rem;
          height: 1.2rem;
          background: url(../img/star_y.f47f12ed68.png) repeat-x;
          background-size: 1.2rem 1.2rem;
          margin-top:-22px;

        }
        .service_num{
          display: block;
          color: #a2a4a6;
          font-size: 1.3rem;
        }
        .p-2{
          margin-top: 194%;
          display: inline-table;
          margin-right: -57px
        }
      }
      .a-1{
        color: #000;
        padding-top: 10px;
        display: block;
        .p-3{
          width: 1.6rem;
          background: url(../img/icon_tel.b9559c1b20.png) no-repeat;
          background-size: 1.6rem auto;
          margin-right: .4rem;
          display: inline-block;
          height: 1.6rem;
          vertical-align: text-top;
          .s-1{
            display: inline-block;
            width: 50px;
            margin-left: 26px;
          }
        }
        .s-2{
          display: block;
          color:#a2a4a6;
          font-size:12px;
          margin-top:-8px;
        }

      }
      .i-1{
        width: 1px;
        height: 37px;
        background: #666;
        border: 1px solid #666;
        position: relative;
        left: 105%;
        top: -37px;
        display: block;
      }
      .a-2{
        color: #000;
        padding-top: 10px;
        display: block;
        .p-4{
          width: 1.6rem;
          background: url(../img/icon_huan_xiangqing.89554e68a8.png) no-repeat;
          background-size: 1.7rem 1.7rem;
          margin-right: .4rem;
          display: inline-block;
          height: 1.6rem;
          vertical-align: text-top;
          .s-3{
            display: inline-block;
            width: 50px;
            margin-left: 26px;
          }
        }
        .s-4{
          display: block;
          color:#a2a4a6;
          font-size:12px;
          margin-top:-8px;
        }

      }
      .a-3{
        color: #000;
        padding-top: 10px;
        display: block;
        .p-5{
          width: 1.6rem;
          background: url(../img/add_service@2x.b35d5167f5.png) no-repeat;
          background-size: 1.7rem 1.7rem;
          margin-right: .4rem;
          display: inline-block;
          height: 1.6rem;
          vertical-align: text-top;
          .s-5{
            display: inline-block;
            width: 50px;
            margin-left: 26px;
          }
        }
        .s-6{
          display: block;
          color:#a2a4a6;
          font-size:12px;
          margin-top:-8px;
        }

      }
      .swiper{
        position: relative;
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
        padding-bottom:60px;
        .swiper-pagination-bullet-active{
          background: #ff5c5c;
        }
        .swiper-container {
          width:100%;
          height: 100%;
          .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

            .img-1{
              width: 100%;
            }
            .pp-1{
              font-size: 1.3rem;
              font-weight: 700;
              padding-top: 1rem;
              padding-bottom: .4rem;
              color: #333;
            }
            .pp-2{
              font-size: 1.2rem;
              line-height: 1.5rem;
              color: #a2a4a6;
              margin-top:-12px;
            }

        }
        }

      }
    }


    .banner1{
      width: 100%;
      display: none;
      margin-top: 52px;
      .p-p1{
        width: 86%;
        margin-left: 16%;
        margin-top: 32px;
        font-size:14px;
      }
      .p-p2{
        font-size:18px;
        color: #ff5c5c;
        margin-left:17%;
      }
      .dv-1{
        width: 100%;
        background: #fffde5;
        border:1px solid #ffebd4;
        margin-top: 24px;
        .p-p3{
          color: #ff8000;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 89%;
          margin: auto
        }
      }
      .xxk{
        margin-top:10px;
        p{
          font-size:14px;
        }

        .qh1{
          width: 100%;
          margin-bottom:20%;
          img{
            width: 100%;
            height: 100%;
          }

        }
        .qh2{
          display: none;
          margin-bottom:20%;
          table{
            background: #efefef;
            color: grey;
            .tdd{
              position: absolute;
              left: 266px;
          }
            .bgv{
              background: #fff;
              color: #000;
              text-align: center;
            }

          }
        }
        .qh3{
          display: none;
          .list_desc {
            padding: 0.5rem 0;
            color: #333;
            font-size: 1.3rem;
            line-height: 1.9rem;
          }
        }
        .qh4{
          display: none;
          margin-bottom:20%;
          .service_desc {
            padding: .5rem 0rem;
            color: #333;
            font-size: 1.3rem;
            .title{
              font-size:14px;
              font-weight:bold;
            }

          }
        }
      }
    }
    .banner2{
      display: none;
      margin-top:57px;
      .pj1{
        background:#ff5c5c;
        border-radius: 10px;
        text-align: center;
        padding-top:3px;
        padding-bottom:3px;
      }
      .pj2{
        background: #ffebeb;
        border-radius: 10px;
        text-align: center;
        padding-top:3px;
        padding-bottom:3px;

      }
      .h22{
        font-size: 18px;
        color: #ff5c5c;

      }
    }
  }
  .footer{
    .a-a{
      display: block;
      float: left;
      margin-top:14px;
      color: #000;
      margin-left: 37px;

      img{
        display: block;
        width:25px;
        height: 25px;
        margin-left:4px;
      }
    }
    .a-aa{
      display: block;
      float: right;
      color: #fff;
      .sp{
        display: block;
        background: #ff5c5c;
        padding: 20px 30px;
        margin-right: -12%;
      }
    }
  }
  }
