*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
/*自定义样式*/

/*向后的箭头样式*/
.swiper-button-next {
    width: 24px;
    height: 35px;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    animation: buttonnext 2s infinite;
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:6%;
        opacity: 0;
    }
}
/*第一页*/
.s1{
    background:url("../img/1.jpg");
    height: 100%;
    position: relative;
}
.s1 img:nth-child(1){
    width: 95px;
    height: 85px;
    position: absolute;
    top:-5px;
    left:18%;

}
.s1 img:nth-child(2){
    width: 308px;
    height: 65px;
    position: absolute;
    top:35%;
    left:9%;
}
.s1 img:nth-child(3){
    width: 188px;
    height:318px;
    position: absolute;
    top:19%;
    left:25%;
}
.s1 img:nth-child(4){
    width:69px;
    height: 71px;
    position: absolute;
    left:5%;
    top:70%;
}
.s1 img:nth-child(5){
    width: 129px;
    height: 129px;
    position: absolute;
    right: -5px;
    bottom: 10%;
}

/*第2页*/
.s2{
    background-color: #0d0d0d;
    position: relative;
    height: 100%;
}
.s2 h4{
    color: #eeeeee;
    padding-top:26px;
    margin-left:auto;
    margin-right:auto;
}
.s2 img:nth-of-type(1){
    width: 214px;
    height: 15px;
    position: absolute;
    left:17%;
    top: 58px;
}
.s2 p:nth-of-type(1){
    color: #ededed;
    font-size:12px;
    position: absolute;
    top: 78px;
    left: 43%;
    font-weight: bold;
}
.s2 img:nth-of-type(2){
    width: 264px;
    height: 263px;
    position: absolute;
    top:114px;
    left:10%;
}
.s2 img:nth-of-type(3){
    width:60px;
    height: 60px;
    position: absolute;
    bottom:81px;
    left:5%;
}
.s2 p:nth-of-type(2){
    color: #f2f2f2;
    font-size:10px;-webkit-transform:scale(0.8);
    position: absolute;
    bottom:65px;
    left:2%;
}
.s2 span:nth-of-type(1){
    color: #f2f2f2;
    font-size:2px;-webkit-transform:scale(0.6);
    position: absolute;
    bottom:55px;
    left:-2%;
}
.s2 img:nth-of-type(4){
    width:60px;
    height: 60px;
    position: absolute;
    bottom:81px;
    left:30%;
}
.s2 p:nth-of-type(3){
    color: #f2f2f2;
    font-size:10px;-webkit-transform:scale(0.8);
    position: absolute;
    bottom:65px;
    left:30%;
}
.s2 span:nth-of-type(2){
    color: #f2f2f2;
    font-size:2px;-webkit-transform:scale(0.6);
    position: absolute;
    bottom:55px;
    left:27%;
}
.s2 img:nth-of-type(5){
    width:60px;
    height: 60px;
    position: absolute;
    bottom:81px;
    left:55%;
}
.s2 p:nth-of-type(4){
    color: #f2f2f2;
    font-size:10px;-webkit-transform:scale(0.8);
    position: absolute;
    bottom:65px;
    left:53%;
}
.s2 span:nth-of-type(3){
    color: #f2f2f2;
    font-size:2px;-webkit-transform:scale(0.6);
    position: absolute;
    bottom:55px;
    left:46%;
}

.s2 img:nth-of-type(6){
    width:60px;
    height: 60px;
    position: absolute;
    bottom:81px;
    right:3%;
}
.s2 p:nth-of-type(5){
    color: #f2f2f2;
    font-size:10px;-webkit-transform:scale(0.8);
    position: absolute;
    bottom:65px;
    right:2%;
}
.s2 span:nth-of-type(4){
    color: #f2f2f2;
    font-size:2px;-webkit-transform:scale(0.6);
    position: absolute;
    bottom:55px;
    right:-7%;
}
/*第三页*/
.S3{
    background-color: #fff;
    height: 100%;
    position: relative;
}
.s3 img:nth-child(1){
    position: absolute;
    top:17px;
    left:20%;
}
.s3 span:nth-of-type(1){
    position: absolute;
    top:33px;
    left:30%;
    font-size:14px;
    color: #3e3e3e;
}
.s3 p:nth-of-type(1){
    font-size:16px;
    color: #000;
    font-weight:bold;
    position: absolute;
    top:56px;
    left:5%;
}
.s3 img:nth-of-type(2){
    position: absolute;
    top:80px;
    left:10%;
}
.s3 span:nth-of-type(2){
    position: absolute;
    top:90px;
    font-size:12px;
    color: #636363;
    left:22%;
}
.s3 img:nth-of-type(3){
    width: 343px;
    height: 250px;
    position: absolute;
    top:153px;
    left:0;
}
.s3 img:nth-of-type(4){
    width: 280px;
    height: 280px;
    position: absolute;
    top:136px;
    left:5%;
}
.s3 img:nth-of-type(5){
    width: 246px;
    height: 246px;
    position: absolute;
     top: 154px;
     left: 10%;
}
.s3 img:nth-of-type(6){
    width: 246px;
    height: 246px;
    position: absolute;
     top: 157px;
     left: 10%;
}
  .s3 img:nth-of-type(7){
    width: 15px;
    height: 18px;
    position: absolute;
    top: 264px;
    left: 46%;
}
.s3 p:nth-of-type(2){
    font-size:12px;
    font-weight:bold;
    position: absolute;
    top: 266px;
    left: 51%;
}
.s3 p:nth-of-type(3){
    font-size:12px;
    font-weight:bold;
    position: absolute;
    bottom: 100px;
    left: 30%;
}
.s3 span:nth-of-type(3){
    position: absolute;
    bottom: 81px;
    font-size:12px;
    color: #636363;
    left:5%;
}
.s3 span:nth-of-type(4){
    position: absolute;
    bottom: 67px;
    font-size:12px;
    color: #636363;
    left:15%;
}
.s3 span:nth-of-type(5){
    position: absolute;
    bottom: 55px;
    font-size:12px;
    color: #636363;
    left:1%;
}
/*第四页*/
.s4{
    background-color:#000000;
    position: relative;
    height: 100%;
}
.s4 img:nth-of-type(1){
    position: absolute;
    top:16px;
    left:15%;
}
.s4 span:nth-of-type(1){
    color: #e4e4e4;
    font-size: 12px;
    position: absolute;
    top:43px;
    left:32%;
}
.s4 p:nth-of-type(1){
    font-size:14px;
    font-weight:bold;
    color: #fff;
    position: absolute;
    top:62px;
    left:16%;
}
.s4 img:nth-of-type(2){
    position: absolute;
    top:79px;
    left:11%;
}
.s4 span:nth-of-type(2){
    color: #e4e4e4;
    font-size: 12px;
    position: absolute;
    top:90px;
    left:22%;
}
.s4 img:nth-of-type(3){
    width: 298px;
    height: 135px;
    position: absolute;
    top: 133px;
    left:5%;

}
.s4 img:nth-of-type(4){
    width: 298px;
    height: 135px;
    position: absolute;
    top: 276px;
    left:5%;

}
.s4 img:nth-of-type(5){
    width: 298px;
    height: 135px;
    position: absolute;
    top: 422px;
    left:5%;
}
.s4 span:nth-of-type(3){
    color: #e4e4e4;
    font-size: 12px;
    position: absolute;
    top:140px;
    left:10%;
}
.s4 i:nth-of-type(1){
    height: 2px;
    width: 36px;
    background: #424242;
    position: absolute;
    top: 156px;
    left:11%;
}
.s4 p:nth-of-type(2){
    width: 111px;
    color: #d4d4d4;
    font-size:8px;-webkit-transform:scale(0.6);
    position: absolute;
    left:4%;
    top: 152px;
    text-align: left;
}
.s4 span:nth-of-type(4){
    width: 111px;
    color: #d4d4d4;
    font-size:8px;-webkit-transform:scale(0.6);
    position: absolute;
    left:4%;
    top: 182px;
    text-align: left;
}
  .s4 span:nth-of-type(5){
    color: #e4e4e4;
    font-size: 12px;
    position: absolute;
    top:285px;
    right:25%;
}
  .s4 i:nth-of-type(2){
    height: 2px;
    width: 36px;
    background: #424242;
    position: absolute;
    top: 300px;
    right:26%;
}
  .s4 p:nth-of-type(3){
    width: 111px;
    color: #d4d4d4;
    font-size:8px;-webkit-transform:scale(0.6);
    position: absolute;
    right:9%;
    top: 300px;
    text-align: left;
}

 .s4 span:nth-of-type(6){
    width: 111px;
    color: #d4d4d4;
    font-size:8px;-webkit-transform:scale(0.6);
    position: absolute;
    right:9%;
    top: 324px;
    text-align: left;
}
 .s4 span:nth-of-type(7){
    color: #e4e4e4;
    font-size: 12px;
    position: absolute;
   bottom:120px;
    left:10%;
}
.s4 i:nth-of-type(3){
    height: 2px;
    width: 36px;
    background: #424242;
    position: absolute;
    bottom: 119px;
    left:10%;
}
  .s4 p:nth-of-type(4){
    width: 111px;
    color: #d4d4d4;
    font-size:8px;-webkit-transform:scale(0.6);
    position: absolute;
    left:3%;
    bottom: 78px;
    text-align: left;
}

 .s4 span:nth-of-type(8){
    width: 111px;
    color: #d4d4d4;
    font-size:8px;-webkit-transform:scale(0.6);
    position: absolute;
    left:3%;
   bottom: 26px;
    text-align: left;
}
/*第五页*/
.s5{
    position: relative;
    background-color: #ffffff;
    height: 100%;
}
.s5 p:nth-of-type(1){
    position: absolute;
    top:18px;
    left:37%;
}
.s5 img:nth-of-type(1){
    position: absolute;
    top:37px;
    left:15%;
}
.s5 p:nth-of-type(2){
    position: absolute;
    top:52px;
    left:28%;
}
.s5 img:nth-of-type(2){
    position: absolute;
    top:100px;
    left:5%;
}
.s5 img:nth-of-type(3){
    position: absolute;
    top:250px;
    left:5%;
}
.s5 img:nth-of-type(4){
    position: absolute;
    bottom:22px;
    left:5%;
}
#mp3Btn{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index:100;
    width: 20px;
    height: 30px;
    background: rgba(0, 0, 0,0.1);
    border-radius:50%;
    border: 4px solid #292929;
    text-align: center ;
    line-height:28px;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes mp3key {
    from{
        transform: rotateZ(0deg);
    }to{
         transform: rotateZ(1turn);
     }
}

#mp3Btn img {
    width: 10px;
}