*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
#nav{
    width: 150px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
#nav img{
    width: 124px;
    height: 124px;
}
#nav li{
    list-style: none;
    position: absolute;
    box-shadow: 2px 2px 20px #ff907d;
    transform-origin: 25px 150px;
    transition: 1s;
}
#nav img{
    display: block;
}
